# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.valtasteszt.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\DAVID\SZAKDOGA\01\valtasteszt\.idea\.idea.valtasteszt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
